.root{
    height: 100%;
    background-image: url(http://localhost:3000/background.png);
    background-size: cover;
    color: white;
    display: flex;
    padding: 3vh;
    margin: 0;
}

.grid{
    max-width: 100%;
    display: grid;
}

.firstRow{
    height: 35%;
    overflow-y: auto;
}

.secRow{
    height: 40%;
    overflow-y: auto;
    scroll-margin: 1em;
}

.progression{
    align-self: center;
    transform: scale(1.5);
}

.libraries{
    align-self: center;
}

.botStatus{
    align-self: center;
}

.roundList{
}
