.formDialog{
    position: relative;
}

.closeButton.closeButton{
    position: absolute;
    right: 0;
}

.formTitle.formTitle{
    color: black;
    font-size: larger;
    padding-right: 48px;
    padding-bottom: 8px;
}
