.Main {
    text-align: center;
}

.MainLogo {
    height: 100vh;
    pointer-events: none;
}

.MainHeader {
    background-image: url(https://i.ibb.co/L04kHfZ/background.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.addButton{
    height: 8vh;
    width: 18vw;
    font-size: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

.icon{
    transform: scale(1.8);
    margin-right: 2vw;
}

#buttonContainer{
    margin-bottom: 30vh;
    display: inline;
}
