.root{
    height: 100%;
    background-image: url(https://i.ibb.co/L04kHfZ/background.png);
    background-size: cover;
    color: white;
    padding: 3vh;
}

.grid{
    max-width: 100vw;
}

.firstRow{
    height: 35%;
    overflow-y: auto;
}

.secRow{
    height: 40%;
    overflow-y: auto;
    scroll-margin: 1em;
}

.progression{
    align-self: center;
    transform: scale(1.5);
}

.libraries{
    align-self: center;
}

.botStatus{
    align-self: center;
}

.MainLogo {
    height: 15vw;
    pointer-events: none;
}

.roundList{
}

.bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}

.bar::-webkit-scrollbar
{
    width: 12px;
    background-color: rgba(0,0,0,0);
}

.bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9ad640;
}
